#  DSC530-T304 Data Exploration and Analysis - Week 2 #

## Python Basics & Traditional Data Quality versus EDA ##

Python basic code samples 

-----

* Q1 :  Display the text â€œHello World! My name is ...."

In [1]:
# Use print method to print the required string
print( "Hello World! My name is Saravanan Janarthanan" )

Hello World! My name is Saravanan Janarthanan

* Q2 : Add two numbers together

In [2]:
# declare two variables and then add them 
num_q2_1 = 55
num_q2_2 = 77

num_q2_1 + num_q2_2

132

In [3]:
# print the added total
print("Adding two numbers : " , num_q2_1, " + ",  num_q2_2 , " = ", num_q2_1 + num_q2_2)

Adding two numbers :  55  +  77  =  132

* Q3 : Subtract a number from another number

In [4]:
# declare two variables with values
num_q3_1 = 45
num_q3_2 = 65

#subtract one variable from another
num_q3_2 - num_q3_1

20

In [5]:
# print the subtarction result
print("Subtracting ", num_q3_1, " from ", num_q3_2,  " = " ,  num_q3_2 - num_q3_1)

Subtracting  45  from  65  =  20

* Q4 Multiply two numbers

In [6]:
# declare two variables with values
num_q4_1 = 15
num_q4_2 = 6

# Multiply both the variables
num_q4_1 * num_q4_2

90

In [7]:
# print the multiplication product result
print("Multiplying ", num_q4_1, " and ", num_q4_2,  " = " ,  num_q4_1 * num_q4_2)

Multiplying  15  and  6  =  90

* Q5: Divide between two numbers

In [8]:
# declare two variables with values
num_q5_1 = 64
num_q5_2 = 8

# Divide  one variable over other   variable
num_q5_1 / num_q5_2

8.0

In [9]:
# print the Division result
print("Dividing ", num_q5_1, " by ", num_q5_2,  " = " ,  num_q5_1 / num_q5_2)

Dividing  64  by  8  =  8.0

* Q6 Concatenate two strings together (any words)

In [10]:
# Declate two string variables
str_q6_1 = "String One "
str_q6_2 = "String two "

# Concatenate those two string variables using + operator
str_q6_1 + str_q6_2

'String One String two '

In [11]:
# Print the concatenated string
print("Concatenating two string '", str_q6_1, "' and '", str_q6_2,  "' : '" , str_q6_1 + str_q6_2, "'")

Concatenating two string ' String One  ' and ' String two  ' : ' String One String two  '

* Q7 Create a list of 4 items (can be strings, numbers, both)

In [12]:
# Declare a list and initialize with various data type values
list_q7 = [75,  "Bellevue Winter 530", 93.5, "DSC530-T304 Data Exploration and Analysis"  ]
list_q7

[75, 'Bellevue Winter 530', 93.5, 'DSC530-T304 Data Exploration and Analysis']

In [13]:
print("List contents : ", list_q7)

List contents :  [75, 'Bellevue Winter 530', 93.5, 'DSC530-T304 Data Exploration and Analysis']

* Q8 Append an item to your list (again, can be a string, number)

In [14]:
#  Append the list with new set of data values
list_q7.append("Week 2 Python Basics")
list_q7.append(75)
list_q7.append(53.7)
list_q7

[75,
 'Bellevue Winter 530',
 93.5,
 'DSC530-T304 Data Exploration and Analysis',
 'Week 2 Python Basics',
 75,
 53.7]

* Q9 Create a tuple with 4 items (can be strings, numbers, both)

In [15]:
# Declare a tuple and initialize with various data type values
tuple_q9 = ("Data Science Process",  34,  'Traditional data profiling', 37.9)
tuple_q9

('Data Science Process', 34, 'Traditional data profiling', 37.9)

-----